<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.projectdb2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\zaina\OneDrive\Desktop\project\projectdb2.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp4.Properties.Settings.projectdb2ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Designer\Desktop\Document from Mariam dwairi~\project\projectdb2.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp4.Properties.Settings.projectdb2ConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Designer\Desktop\project\project\projectdb2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp4.Properties.Settings>
            <setting name="SavedResult" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Secondresult" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApp4.Properties.Settings>
    </userSettings>
</configuration>